@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  user-select: none;
}
header {
  margin: 0 auto;
  width: 431px;
}
h1 {
  background: #693e06;
  padding: 1.2rem 0;
  margin: 0;
  color : white
}
.plateau {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  background: #c59b64;
}